---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Layout Content Elements #title in menu
number: 30 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Generic #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{#markdown }}
##Layout builders elements. Elements that help us to build our layout. All of them have possibility to be parents for other elements. All of this elements based on Bootstrap 3
* Grid (Simple Grid)
* Advanced Grid (More flexible, with classes for mobile and tablet devices)
* 2 columns (Container with 2 columns)
* 3 columns (Container with 3 columns)
* 4 columns (Container with 4 columns)
* Tabs/pills (Places child content elements in tabs)
* Accordion (Accordion element container)

***
{{/markdown }}

