---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Parallax #title in menu
number: 14 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Generic #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{ renderContent 'parallax'
    class="parallax-container"
    height="340"
    dataImage="images/black_and_white_mountain.jpg"
    dataImageMobile="images/parallax-foto.jpg"
}}
