@font-face {
  font-family: 'icons';
  src:url('fonts/icons.eot');
  src:url('fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('fonts/icons.woff') format('woff'),
    url('fonts/icons.ttf') format('truetype'),
    url('fonts/icons.svg#icons') format('svg');
}

.icons {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// =================================
// === Icons mixin =================
// =================================
.icons() {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------


// =======================================
// == RESERVED ICONS for t3layout_ricky===
// =======================================
.icon-t3-mobile:before {content: "\32";}
.icon-t3-mail:before {content: "\35";}
.icon-t3-facebook:before {content: "\128";}
.icon-t3-twitter:before {content: "\126";}
.icon-t3-linkedin:before {content: "\131";}
.icon-t3-vimeo:before {content: "\124";}
.icon-t3-googleplus:before {content: "\12b";}
.icon-t3-pinterest:before {content: "\12d";}
.icon-t3-home:before {content: "\53";}
.icon-t3-sitemap:before {content: "\eb";}
.icon-t3-login:before {content: "\3f";}
.icon-t3-dropdown-arrow:before {content: "\ff";}
.icon-t3-search:before {content: "\55";}
.icon-t3-map:before {content: "\44";}

.icon-t3-slider-arrow-left:before {content: "\fe";}
.icon-t3-slider-arrow-right:before {content: "\101";}

.icon-t3-quoteMark:before {content: "\fe";}

.icon-t3-file:before {content: "\e605";}
.icon-t3-film:before {content: "\e603";}
.icon-t3-picture:before {content: "\e600";}


.icon-t3-newsCarousel-arrow-up:before {content: "\100";}
.icon-t3-newsCarousel-arrow-down:before {content: "\ff";}
.icon-t3-news-categoryIcon:before {content: "\e607";}
.icon-t3-news-archiveIcon:before {content: "\e609";}


.icon-t3-search-pagination-left:before {content: "\fe";}
.icon-t3-search-pagination-right:before {content: "\101";}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------


// =================================
// === Icons variables =============
// =================================
.icon-image:before {
    content: "\e600";
}
.icon-image2:before {
    content: "\e601";
}
.icon-play:before {
    content: "\e602";
}
.icon-camera:before {
    content: "\e603";
}
.icon-file:before {
    content: "\e604";
}
.icon-file2:before {
    content: "\e605";
}
.icon-file3:before {
    content: "\e606";
}
.icon-folder-open:before {
    content: "\e607";
}
.icon-tag:before {
    content: "\e608";
}
.icon-drawer:before {
    content: "\e609";
}
.icon-drawer2:before {
    content: "\e60a";
}
.icon-mobile2:before {
    content: "\32";
}
.icon-mail3:before {
    content: "\35";
}
.icon-users:before {
    content: "\3f";
}
.icon-location:before {
    content: "\43";
}
.icon-map:before {
    content: "\44";
}
.icon-house:before {
    content: "\53";
}
.icon-search:before {
    content: "\55";
}
.icon-briefcase:before {
    content: "\75";
}
.icon-network:before {
    content: "\7a";
}
.icon-bars:before {
    content: "\a2";
}
.icon-graph:before {
    content: "\a3";
}
.icon-flow-tree:before {
    content: "\eb";
}
.icon-arrow-left5:before {
    content: "\fe";
}
.icon-arrow-down5:before {
    content: "\ff";
}
.icon-arrow-up4:before {
    content: "\100";
}
.icon-arrow-right5:before {
    content: "\101";
}
.icon-arrow-left6:before {
    content: "\102";
}
.icon-arrow-down6:before {
    content: "\103";
}
.icon-arrow-up5:before {
    content: "\104";
}
.icon-arrow-right6:before {
    content: "\105";
}
.icon-vimeo:before {
    content: "\123";
}
.icon-vimeo2:before {
    content: "\124";
}
.icon-twitter3:before {
    content: "\125";
}
.icon-twitter4:before {
    content: "\126";
}
.icon-facebook3:before {
    content: "\127";
}
.icon-facebook4:before {
    content: "\128";
}
.icon-googleplus3:before {
    content: "\12a";
}
.icon-googleplus4:before {
    content: "\12b";
}
.icon-pinterest:before {
    content: "\12c";
}
.icon-pinterest2:before {
    content: "\12d";
}
.icon-tumblr2:before {
    content: "\12f";
}
.icon-linkedin2:before {
    content: "\130";
}
.icon-linkedin3:before {
    content: "\131";
}
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
