---
layout: Content100%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: News Detail View #title in menu
number: 1 #position in menu
menuLevel: 3
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Extensions #(only for second-level pages)
parent2: News #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{> date}}
            {{> category}}
            {{> tags}}
        </div>
        <div class="col-md-9">
            {{> detail}}
        </div>
    </div>
</div>
