---
layout: StartPage100%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Home #title in menu
number: 1 #position in menu
menuLevel: 1
hideInMenu: false #if true, will be hidden in menu
shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
subpages: false #(only for first-level pages)
#parent: #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

<div class="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{>carousel}}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent '1_BigIconTextButton'
                class="bigIcon"
                bigTopIcon="briefcase"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent '1_BigIconTextButton'
                class="bigIcon"
                bigTopIcon="graph"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent '1_BigIconTextButton'
                class="bigIcon"
                bigTopIcon="network"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
            }}
        </div>
    </div>
</div>




