// Main Color
@t3-main-color:            #95C120;//#66bd29
@t3-main-color-hover:       #95C120;//#91cf65
@black: #000;
@aliengreen: #95C120;

// Footer
@footer-bg-color:           #323232;//#323232
@footer-color:              #acacac;//#acacac
