// Only for small project
.navbar-default .navbar-nav > .active > a {
	background-color: #2a2a2a;
}

.navbar-default .navbar-nav > li > a {
color: #CFCFCF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #95c120;
background-color: #2a2a2a;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #2a2a2a;
}

@media (max-width: 991px){
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color: #CFCFCF;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #555;
	background-color: #2a2a2a;
	} 
}

