// =================================
// === Button animation ============
// =================================
.btn-default {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    transform:translate3d(0,0,0);
}

.btn-default span {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: transform .3s ease;
}

.btn-default:before {
    font-family: 'icons';
    content: "\101";
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 1.6;
    font-size: 22px;
    transition: top .3s ease;
    top: -100%;
    left: 0;
}

.no-touch .btn-default:hover span {
    transform: translateY(300%);
}

.no-touch .btn-default:hover:before {
    top: 0;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------


// =================================
// === Dropdown Caret ==============
// =================================
.caret{
    display: none;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------


// =================================
// === Modal fix ==============
// =================================
.modal {
    top: 40px;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------



// =================================
// === Checkbox & radio fixes ======
// =================================

.checkbox label, .radio label {
    padding-left: 0;
}
.fix-label{
    padding-left: 20px;
}
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------



// =================================
// ======== Browsehappy, fix IE ====
// =================================
.browsehappy{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #fddb30;
    z-index: 20000;
    line-height: 3;
    font-size: 17px;
    padding-left: 50px;
    color: #000;
    font-family: Arial;
    a{
        color: #ff3333;
        font-weight: bold;
    }
}
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

