<div class="pxa-sub-nav">
<div class="list-group">
{{#withSort pages "data.number"}}
{{#is ../this.parent data.parent}}
{{#is data.hideInMenu false}}
{{#is data.menuLevel 2}}
<a href="{{basename}}.html" class="list-group-item {{#is ../../../../page.title data.title}} active{{/is}}

{{!-- active state for level 2 menu --}}
{{#each ../../../../pages }}
{{#is data.menuLevel 3}}
{{#is ../../../this.data.title data.parent2}}
{{#is ../../../../../../../page.title data.title}}active{{/is}}
{{/is}}
{{/is}}
{{#is data.menuLevel 4}}
{{#is ../../../this.data.title data.parent2}}
{{#is ../../../../../../../page.title data.title}}active{{/is}}
{{/is}}
{{/is}}
{{#is data.menuLevel 5}}
{{#is ../../../this.data.title data.parent2}}
{{#is ../../../../../../../page.title data.title}}active{{/is}}
{{/is}}
{{/is}}
{{/each}}
">{{data.title}}</a>

{{!-- menus level3-4-5 --}}
{{#is ../../../../page.title data.title}}


{{#withSort ../../../../../pages "data.number"}}
{{#is data.menuLevel 3}}
{{#is ../../this.data.title data.parent2}}
{{#is data.hideInMenu false}}
<a  href="{{basename}}.html" class="list-group-item subItem {{#is ../../../../../../../../../page.title data.title}}active{{/is}}">{{data.title}} </a>
{{#withSort ../../../../../../../../../pages "data.number"}}
{{#is data.menuLevel 4}}
{{#is ../../this.data.title data.parent3}}
{{#is data.hideInMenu false}}
<a href="{{basename}}.html" class="list-group-item subSubItem {{#is ../../../../../../../../../../../../../page.title data.title}}active{{/is}}">{{data.title}} </a>
{{#withSort ../../../../../../../../../../../../../pages "data.number"}}
{{#is data.menuLevel 5}}
{{#is ../../this.data.title data.parent4}}
{{#is data.hideInMenu false}}
<a  class="list-group-item subSubSubItem {{#is ../../../../../../../../../../../../../../../../../page.title data.title}}active{{/is}}" href="{{basename}}.html">{{data.title}} </a>
{{/is}}
{{/is}}
{{/is}}
{{/withSort}}
{{/is}}
{{/is}}
{{/is}}
{{/withSort}}
{{/is}}
{{/is}}
{{/is}}
{{/withSort}}


{{else}}

{{#is ../../../../../this.parent2 data.title}}

{{#withSort ../../../../../../pages "data.number"}}
{{#is data.menuLevel 3}}
{{#is ../../this.data.title data.parent2}}
{{#is data.hideInMenu false}}
<a  href="{{basename}}.html" class="list-group-item subItem {{#is ../../../../../../../../../../page.title data.title}}active{{/is}}
{{#each ../../../../../../../../../../pages }}
{{#is data.menuLevel 4}}
{{#is ../../this.data.title data.parent3}}
{{#is ../../../../../../../../../../../../../page.title data.title}} active{{/is}}
{{/is}}
{{/is}}
{{#is data.menuLevel 5}}
{{#is ../../this.data.title data.parent3}}
{{#is ../../../../../../../../../../../../../page.title data.title}} active{{/is}}
{{/is}}
{{/is}}
{{/each}}
">{{data.title}} </a>
{{#withSort ../../../../../../../../../../pages "data.number"}}
{{#is data.menuLevel 4}}
{{#is ../../this.data.title data.parent3}}
{{#is data.hideInMenu false}}
<a href="{{basename}}.html" class="list-group-item subSubItem {{#is ../../../../../../../../../../../../../../page.title data.title}}active{{/is}}
{{#each ../../../../../../../../../../../../../../pages }}
{{#is data.menuLevel 5}}
{{#is ../../this.data.title data.parent4}}
{{#is ../../../../../../../../../../../../../../../../../page.title data.title}} active{{/is}}
{{/is}}
{{/is}}
{{/each}}
">{{data.title}} </a>
{{#withSort ../../../../../../../../../../../../../../pages "data.number"}}
{{#is data.menuLevel 5}}
{{#is ../../this.data.title data.parent4}}
{{#is data.hideInMenu false}}
<a  class="list-group-item subSubSubItem {{#is ../../../../../../../../../../../../../../../../../../page.title data.title}}active{{/is}}" href="{{basename}}.html">{{data.title}} </a>
{{/is}}
{{/is}}
{{/is}}
{{/withSort}}
{{/is}}
{{/is}}
{{/is}}
{{/withSort}}
{{/is}}
{{/is}}
{{/is}}
{{/withSort}}

{{/is}}
{{/is}}

{{/is}}
{{/is}}
{{/is}}
{{#is ../this.title data.parent}}
    {{#is data.hideInMenu false}}
        {{#is data.menuLevel 2}}
            <a href="{{basename}}.html" class="list-group-item">{{data.title}}</a>
        {{/is}}
    {{/is}}
{{/is}}
{{/withSort}}
</div>
</div>
