.elem1{
    margin: 30px 0;
    text-align: center;
}

.elem1 p{
    margin-bottom: 18px;
    color: #646464;
}

.elem1 h3{
    color: #000;
}

.elem1 .icons{
    padding: 30px;
    background: @black;
    color: #fff;
    border-radius: 53px;
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 46px;
}
