// =================================
// === Mobile nav menu toggle icon =
// =================================
.pxa-nav-toggle-button{
    float: left;
    margin-left: -15px;
}
.navbar-toggle {
    padding: 16px 20px;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background: #2a2a2a;
}
.navbar-toggle.collapsed  {
    background: #2a2a2a;
}
.header-top .navbar-toggle .icon-bar {
    background: #4e4e4e;
    height: 3px;
}
.pxa-nav-toggle-button.navbar-toggle:active{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2),inset 0 -1px 0 #FFF;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    background: #2a2a2a;
    color: #999;
    text-decoration: none;
    .icon-bar{
    background: #777;
    }
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
