// =================================
// === Quicksearch Form Mobile =====
// =================================
.navbar-form {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #2a2a2a;
    padding-bottom: 0;
    padding-right: 0;
}
.navbar-form .icon-t3-search{
    float: left;
    font-size: 18px;
    width: 4%;
    color: #CFCFCF;
    top: 8px;
    left: 3px;
}

.navbar-form .form-control {
    display: block;
    width: 96%;
    padding-left: 0;
    margin-left: 15px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-appearance:none;
    background-color: #2a2a2a;
}
    .search .form-group{
        width: 96%;
    }

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------



// =================================
// === Quicksearch Form Desktop ====
// =================================
@media (min-width: 992px) {
    .navbar-default .search {
        position: relative;
    }
    .search .form-control {
        width: 70px;
        height: 46px;
        background-color: #333333;
        padding-left: 30px;
        padding-right: 0;
        margin-left: 0;
        border: none;
        transition: all ease .3s;
        color: #CFCFCF;
    }
    .search .form-control:focus {
        width: 130px;
        padding-left: 40px;
    }

    .search .icon-t3-search {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 24px;
        color: #CFCFCF;
        z-index: 10;
        height: 46px;
        line-height: 2;
        padding-left: 10px;
        padding-right: 10px;
        width: 40px;
        border: none;
    }
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------


// =================================
// ======== Typeahead dropdown =====
// =================================
@media (max-width: 991px) {
    .tt-dropdown-menu {
        display: none!important;
    }
}
@media (min-width: 992px) {
    .tt-dropdown-menu {
        left: auto!important;
        right: 0!important;
        margin-top: 11px;
        border-top: 1px solid @t3-main-color;
        border-bottom: 2px solid @t3-main-color;
        border-radius: 0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        min-width: 160px;
        padding: 8px 0;
        position: absolute;
        top: 100%;
        z-index: 1002!important;
        display: none;
        float: left;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        background-clip: padding-box;
    }
    .tt-dropdown-menu div.tt-suggestion > p{
        margin: 0;
    }

    .tt-dropdown-menu div.tt-suggestion, .tt-dropdown-menu .tt-empty {
        padding: 8px 10px;
        padding-left: 20px;
        transition: background-color .33s ease;
        clear: both;
        color: #333333;
        text-decoration: none;
        outline: 0;
        white-space: normal;
    }
    .tt-dropdown-menu div.tt-suggestion strong{
        color: @t3-main-color;
    }

    div.tt-suggestion:hover,
    div.tt-suggestion:focus, .tt-cursor{
        background-color: #f0f0f0;
    }
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------


// =================================
// === Search form collapsed =======
// =================================
// .pxa-search-wrapper{
//     background: #f9f9f9;
//     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
// }
.pxa-main-search-collapse{
    position: absolute;
    height: auto;
    max-height: 70px;
    width: 50%;
    left: 50%;
    top: 50px;
    float: right;
    background: #f9f9f9;
   box-shadow:  0 2px 2px -1px rgba(0, 0, 0, 0.1);
    margin-top: 1px;
    z-index: 1001;
    // border: 3px solid #aaa;
}
.pxa-main-search-collapse .container{
    width: 100%;
}
.pxa-main-search-collapse .search{
    margin: 10px;
}
.pxa-main-search-collapse .icon-t3-search {
    left: auto;
    padding: 0;
    padding-left: 14px;
    top: 12px;
    border: 0;
    color: #aaa;
    font-size: 24px;
    position: absolute;
    z-index: 2010;
    line-height: 2;
}
.pxa-main-search-collapse .form-group {
    width: 100%;
    // height: 50px;
    // background: red;
    // box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.7), 0px 1px 0px #FFF;

}
.pxa-main-search-collapse .form-group span{
    width: 100%;
    // height: 70px;
}
.pxa-main-search-collapse .form-group .form-control{
    width: 100%;
    background: #f9f9f9 !important;
    background: #fff !important;
    border-radius: 0;
    border: none;
    font-size: 18px;
    padding-left: 48px;
    height: 50px;
    z-index: 2000;


}
.pxa-main-search-collapse .form-control:focus {
border-color: none;
outline: 0;
box-shadow: none;
}
@media (max-width: 768px) {
    .pxa-main-search-collapse{
    // width: 70%;
}
}
@media (max-width: 460px) {
.pxa-main-search-collapse .form-group .form-control{
    padding-left: 20px;
}
    .pxa-main-search-collapse{
    width: 100%;
}
.pxa-main-search-collapse .form-group {
    width: 100%;
}
.pxa-main-search-collapse .icon-t3-search {
    display: none;
}
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------


// =================================
// === Search form           =======
// =================================

.pxa-main-search{
    float: right;
    width: 30%;
    height: 50px;
    padding-top: 5px;
    margin-right: 2px;
    position: relative;
}
.pxa-main-search .form-group{
    width: 100%;
    margin: 0;
}
.pxa-main-search .form-group span{
    width: 100%;
}
.pxa-main-search .icon-t3-search{
    border: none;
    left: auto;
    top: 2px;
    color: #777;
}
.pxa-main-search .form-group .form-control{
    height: 40px;
    padding-left: 38px;
    border-radius: 0;
    box-shadow: none;
    border: none;
    width: 100%;
}

@media (max-width: 991px) {
    .pxa-main-search .form-group .form-control{
        padding-left: 14px;
    }
    .pxa-main-search .icon-t3-search{
       // display: none;
    }
    .pxa-main-search{
        width: 44%;
    }
}
@media (max-width: 460px) {
    .pxa-main-search{
        width: 62%;
    }
}
