// =================================
// === Search Toggle Button ========
// =================================
.pxa-search-toggle-button {
    float: right;
    padding: 13px 14px 10px;
    border: none;
    background: #f0f0f0;
    color: #4e4e4e;
    // margin-right: 10px;
    outline: 0;
}
.pxa-search-toggle-button .icon-t3-search{
    font-size: 22px;
}
.pxa-search-toggle-button.collapsed {
    background: #2a2a2a;
    border-bottom: 4px solid #CFCFCF;
}
.no-touch .pxa-search-toggle-button:hover {
    outline: 0;
    background: #2a2a2a;
}
.pxa-search-toggle-button:active {
outline: 0;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 0 #FFF;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
background: #f0f0f0;
color: #999;
text-decoration: none;
}
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
