<div class="tx-pxa-newsletter-subscription">
    <div class="tx_pxanewslettersubscription">
        <form class="form-inline" action="index.html">
            <div class="form-group" >
                <input type="text" placeholder="Name" class="form-control" name="name"  required autocomplete="name">
            </div>
            <div class="form-group" >
                <input type="email" placeholder="E-mail" class="form-control" name="email" required autocomplete="email">
            </div>
            <div class="subscribe-button form-actions ">
                <button type="submit" class="btn btn-default"><span>Subscribe</span></button>
            </div>
            <div class="unsubscribe form-actions hidden pull-right">
                <button type="submit" class="btn btn-default"><span>Unsubscribe</span> </button>
            </div>
        </form>
        <script type="text/javascript">
            var jqXHR_error_message = 'Technical problem, please try again later.'
        </script>
    </div>
</div>
