<nav class="navbar navbar-default pxa-main-nav {{class}} {{#is this.toggleBtn "true"}}pxa-main-nav-root-btn{{/is}}" role="navigation">
<div class="container">

{{#is this.toggleBtn "true"}}
  <div class="navbar-header">
        <button type="button" class="navbar-toggle pxa-nav-toggle-button collapsed" data-toggle="collapse" data-target="#pxa-root-main-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
{{/is}}

{{#is this.languageMenuType "dropdown"}}
    <div class="language-menu pxa-language-dropdown">
        <ul class="language-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/#">
                    <span class=" main-flag-icon flag-icon flag-icon-gb"></span>
                    <span class="icons icon-t3-dropdown-arrow"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="" class="active"><span class="flag-icon flag-icon-gb"></span> English</a></li>
                    <li><a href=""><span class="flag-icon flag-icon-se"></span> Swedish</a></li>
                    <li><a href=""><span class="flag-icon flag-icon-dk"></span> Danish</a></li>
                    <li><a href=""><span class="flag-icon flag-icon-fi"></span> Finnish</a></li>
                    <li><a href=""><span class="flag-icon flag-icon-de"></span> German</a></li>
                    <li><a href=""><span class="flag-icon flag-icon-no"></span> Norwegian</a></li>
                </ul>
            </li>
        </ul>
    </div>
{{/is}}

{{#is this.languageMenuType "list"}}
    <div class="language-menu pxa-language-list">
        <ul class="language-nav">
            <li><a href="" class="active"><span class="flag-icon flag-icon-gb"></span> gb</a></li>
            <li><a href=""><span class="flag-icon flag-icon-se"></span> se</a></li>
            <li><a href=""><span class="flag-icon flag-icon-dk"></span> dk</a></li>
        </ul>
    </div>
{{/is}}
<div class="collapse navbar-collapse" id="{{#is this.toggleBtn "false"}}pxa-main-navbar-collapse{{/is}}{{#is this.toggleBtn "true"}}pxa-root-main-navbar-collapse{{/is}}">


{{#is this.searchForm "simple"}}
    <div class="navbar-form navbar-right pxa-main-nav-search">
        <form class="search" role="search" action="search.html">
            <span class="icons icon-t3-search"></span>
            <div class="form-group" id="the-basics">
                <input type="search" class="form-control typeahead quicksearch" placeholder="">
                <button type="submit" style="display:none"></button>
            </div>
        </form>
    </div>
{{/is}}

{{#is this.searchForm "collapse"}}
<div id="pxa-nav-search-collapse" class="pxa-main-search-collapse collapse">
    <div class="container">
    <form  class="search" role="search" action="search.html">
        <span class="icons icon-t3-search"></span>
        <div class="form-group" id="the-basics">
            <input type="search" class="form-control typeahead quicksearch" placeholder="">
            <button type="submit" style="display:none"></button>
        </div>
    </form>
    </div>
</div>
{{/is}}

{{#is this.searchForm "collapse"}}
<div class="pxa-main-nav-search-btn navbar-right">
    <button type="button" class="pxa-search-toggle-button collapsed" data-toggle="collapse" data-target="#pxa-nav-search-collapse">
        <span class="icons icon-t3-search"></span>
        <span class="sr-only">Toggle search</span>
    </button>
</div>
{{/is}}

{{#is this.dropdown "true"}}
{{!-- ========================= --}}
<ul class="nav navbar-nav">
{{#withSort pages "data.number"}}
{{#is data.hideInMenu false}}
{{#is data.menuLevel 1}}
{{#is data.subpages true}}
<li
{{#each ../../../../pages }}
{{#is data.menuLevel 2}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 3}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 4}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 5}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}} class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}>
<a  href="{{basename}}.html" class="dropdown-toggle" data-toggle="dropdown" >{{data.title}}<span class="icons icon-t3-dropdown-arrow"></span><span class="caret"></span></a>
<ul class="dropdown-menu">
{{#withSort ../../../../pages "data.number"}}
{{#is data.menuLevel 2}}
{{#is ../../../../this.data.title data.parent}}
<li {{#is ../../../../../../../page.title  data.title}} class="active"{{/is}}
{{#each ../../../../../../../pages }}
{{#is data.menuLevel 3}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}} class="active"{{/is}}
{{/is}}
{{/is}}
{{#is data.menuLevel 4}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}} class="active"{{/is}}
{{/is}}
{{/is}}
{{#is data.menuLevel 5}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}} class="active"{{/is}}
{{/is}}
{{/is}}
{{/each  }}>
<a href="{{basename}}.html">{{data.title}}</a>
</li>
{{/is}}
{{/is}}
{{/withSort  }}
</ul>
</li>
{{else}}
<li{{#is ../../../../page.title data.title}} class="active"{{/is}}><a href="{{basename}}.html">{{data.title}}</a></li>
{{/is}}
{{/is }}
{{/is }}
{{/withSort}}
</ul>
{{!-- ========================= --}}
{{else}}
{{!-- ========================= --}}
<ul class="nav navbar-nav">
{{#withSort pages "data.number"}}
{{#is data.hideInMenu false}}
{{#is data.menuLevel 1}}
{{#is data.subpages true}}
<li {{#is ../../../../page.title data.title}} class="active"{{/is}}
{{#each ../../../../pages }}
{{#is data.menuLevel 2}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 3}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 4}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 5}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}} class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}>
<a  href="{{basename}}.html" >{{data.title}}</a>
</li>
{{else}}
<li{{#is ../../../../page.title data.title}} class="active"{{/is}}><a href="{{basename}}.html">{{data.title}}</a></li>
{{/is}}
{{/is }}
{{/is }}
{{/withSort}}

</ul>

{{!-- ========================= --}}

{{/is}}

</div>

</div>
  
</nav>
