<button type="button" class="navbar-toggle pxa-nav-toggle-button collapsed {{class}}" data-toggle="collapse" data-target="#pxa-main-navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
